<section id="main-section" ng-controller="UserFormController">
    <h1 class="text-center">Add User</h1>
    <form action="">
        <input type="text " class="form-control" placeholder="Firstname" />
        <br />
        <input type="text " class="form-control" placeholder="Lastname" />
        <br />
        <input type="text " class="form-control" placeholder="Email" />
        <br />
        <input type="password " class="form-control" placeholder="Password" />
        <br />
        <input type="submit" value="SUBMIT" class="btn btn-primary" ng-click="addUser()"/>
    </form>
</section>